<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <style>
        #graphFrame {
            width: 100%;
            height: 700px;
            border: none;
        }
    </style>
    
</head>
<body>
    <h1>{{ title }}</h1>

    {% include 'filters.html' %}  

    <br><br>
    <iframe id="graphFrame" src="{{ graph_url }}" width="100%" height="700px"></iframe>

    <br><a href="/">Back to Home</a>

    <script>
        console.log("From graph_wrapper.html. This is the graph url being passed below:")
        console.log(document.getElementById("graphFrame").src)
    </script>
</body>
</html>
